body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, blue, green);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    border: 3px solid #333;
    cursor: pointer;
    border-radius: 30px;
    background: #000;
    margin: 5px;
}

@media (max-width:400px) {
    .board {
        display: grid;
        grid-template-columns: repeat(3, 70px);
        grid-gap: 5px;
    }
    .cell{
        width: 60px;
        height: 60px;
        border-radius: 20px;
    }
}